@font-face {
  font-family: Inter;
  src: url(fonts/INTER-EXTRABOLD.TTF);
}
body {
  font-family: Inter, Arial;
  color: #ffffff;
  background-color: #141313;
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
header {
  background-color: #1d1d1d;
  border: 1px solid #000000;
  line-height: 0;
  padding: 10px;
  line-height: 25px;
}
#input {
  margin: 25px;
  margin-right: 3px;
  padding: 14px;
  background-color: #1d1d1d;
  border: 1px solid #000000;
  border-radius: 7px;
  width: 400px;
  color: #ffffff;
}
input::placeholder {
  font-family: Inter, Arial;
}
input[type="text"] {
  font-family: Inter, Arial;
}
@media only screen and (max-width: 470px) {
  .search-bar {
    width: 50%;
  }
}
.app {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 15px;
}
.app img {
  width: 30px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 3px;
}
.app a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.text-shadow {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
#app-list {
  list-style: none;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.container {
  display: grid;
  justify-content: center;
}
